@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="card" style="width:20cm;margin:10px">
        <img src="" alt="" class="card-img-top" />
        <div class="card-body">
            <div class="card-title">
                <h2></h2>
            </div>
            <div class="card-text">
                <p></p>
            </div>
            <a href="" class="btn btn-primary">Read More...</a>
        </div>
    </div>
</div>
